body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.poll-container {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    margin: 20px 0;
}

.candidate {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.candidate-info {
    display: flex;
    align-items: center;
}

.candidate img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.candidate-names {
    font-size: 16px;
    margin-top: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

#results {
    text-align: center;
    margin-top: 20px;
}

#results p {
    font-size: 18px;
}

/* Testimonial Styles */
#testimonial {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

#testimonial h2 {
    margin-bottom: 10px;
}

#testimonial p {
    font-size: 16px;
    line-height: 1.5;
}

#testimonial strong {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.president-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    font-size: x-small;
}

.ff-logo {
    text-align: center;
    align-items: center;
}

#thank-you p {
    text-align: center;
}

.result {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.result img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.result p {
    font-size: 18px;
}
